<div class="FAQ container mx-auto px-5">
  <h1 class="H1">FAQ</h1>

  <div id="accordion-collapse" class="mt-14" data-accordion="collapse">
    <div class="accitem">
      <h2 id="accordion-collapse-heading-3">
        <button
          type="button"
          class="flex items-center justify-between head"
          data-accordion-target="#accordion-collapse-body-3"
          aria-expanded="true"
          aria-controls="accordion-collapse-body-3"
        >
          <span>Is there a free trial available?</span>

          <img
            src="../../assets/imgs/plus.png"
            data-accordion-icon
            class="plus"
          />
          <img
            src="../../assets/imgs/minus.png"
            data-accordion-icon
            class="minus"
          />
        </button>
      </h2>
      <div
        id="accordion-collapse-body-3"
        class="hidden accbody"
        aria-labelledby="accordion-collapse-heading-3"
      >
        <p class="p">
          Yes, you can try us for free for 30 days. If you want, we’ll provide
          you with a free, personalized 30-minute onboarding call to get you up
          and running as soon as possible.
        </p>
      </div>
    </div>

    <div class="accitem">
      <h2 id="accordion-collapse-heading-4">
        <button
          type="button"
          class="flex items-center justify-between head collapsed"
          data-accordion-target="#accordion-collapse-body-4"
          aria-expanded="true"
          aria-controls="accordion-collapse-body-4"
        >
          <span>Is there a free trial available?</span>

          <img
            src="../../assets/imgs/plus.png"
            data-accordion-icon
            class="plus"
          />
          <img
            src="../../assets/imgs/minus.png"
            data-accordion-icon
            class="minus"
          />
        </button>
      </h2>
      <div
        id="accordion-collapse-body-4"
        class="hidden accbody"
        aria-labelledby="accordion-collapse-heading-4"
      >
        <p class="p">
          Yes, you can try us for free for 30 days. If you want, we’ll provide
          you with a free, personalized 30-minute onboarding call to get you up
          and running as soon as possible.
        </p>
      </div>
    </div>

    <div class="accitem">
      <h2 id="accordion-collapse-heading-5">
        <button
          type="button"
          class="flex items-center justify-between head"
          data-accordion-target="#accordion-collapse-body-5"
          aria-expanded="true"
          aria-controls="accordion-collapse-body-5"
        >
          <span>Is there a free trial available?</span>
          <img
            src="../../assets/imgs/plus.png"
            data-accordion-icon
            class="plus"
          />
          <img
            src="../../assets/imgs/minus.png"
            data-accordion-icon
            class="minus"
          />
        </button>
      </h2>
      <div
        id="accordion-collapse-body-5"
        class="hidden accbody"
        aria-labelledby="accordion-collapse-heading-5"
      >
        <p class="p">
          Yes, you can try us for free for 30 days. If you want, we’ll provide
          you with a free, personalized 30-minute onboarding call to get you up
          and running as soon as possible.
        </p>
      </div>
    </div>

    <div class="accitem">
      <h2 id="accordion-collapse-heading-6">
        <button
          type="button"
          class="flex items-center justify-between head"
          data-accordion-target="#accordion-collapse-body-6"
          aria-expanded="true"
          aria-controls="accordion-collapse-body-6"
        >
          <span>Is there a free trial available?</span>
          <img
            src="../../assets/imgs/plus.png"
            data-accordion-icon
            class="plus"
          />
          <img
            src="../../assets/imgs/minus.png"
            data-accordion-icon
            class="minus"
          />
        </button>
      </h2>
      <div
        id="accordion-collapse-body-6"
        class="hidden accbody"
        aria-labelledby="accordion-collapse-heading-6"
      >
        <p class="p">
          Yes, you can try us for free for 30 days. If you want, we’ll provide
          you with a free, personalized 30-minute onboarding call to get you up
          and running as soon as possible.
        </p>
      </div>
    </div>
  </div>
</div>
