<div class="hero">
  <app-navbar></app-navbar>
  <div class="container mx-auto pt-32">
    <div class="grid md:grid-cols-2">
      <div class="text-white p-3">
        <div class="readmore">
          <a href="/news"
            ><i class="mr-1 fa fa-arrow-left"></i> Back to news
          </a>
        </div>
        <h1 class="H1 my-4">New Dragons & Territories</h1>
        <span class="date mb-32 block">
          January 5, 2023 <span class="ml-3 tag">Features</span></span
        >
      </div>
    </div>
  </div>
</div>

<div class="wrap">
  <div class="container mx-auto py-16 px-2">
    <p>
      Dragonheim is a fantasy game that revolves around a tragic story of the
      dragons' survival and the lust of a greedy king who desires to accumulate
      the treasure of AURA Gold Coins, which is guarded by the dragons for
      centuries on the island of Dragonheim.
    </p>
    <p>
      After the king and his highly equipped army attack Dragonheim, the dragons
      incurred heavy losses. Those that remained had no choice but to escape
      with the eggs and start a new life of survival in the lost lands of
      Midgard enduring the most challenging conditions to save their species.
    </p>
    <p>
      The eggs that were saved during the escape from the Battle of Dragonheim
      were hatched. Each of them in a different climate where they adapted to
      the outside environment. When they reached a certain age, the legendary
      dragons decided to train the young dragons with their wisdom and
      knowledge. The new dragons have to fight each other to showcase their
      capabilities and reach the top to become the new leader of the dragon's
      army in order to claim back their long lost home of Dragonheim and the
      treasures within it.
    </p>
    <div class="grid grid-cols-2 md:grid-cols-4 newsgrid">
      <div class="m-4">
        <img src="../../assets/imgs/news-details1.png" />
      </div>
      <div class="m-4">
        <img src="../../assets/imgs/news-details2.png" />
      </div>
      <div class="m-4">
        <img src="../../assets/imgs/news-details3.png" />
      </div>
      <div class="m-4">
        <img src="../../assets/imgs/news-details4.png" />
      </div>
      <div class="m-4">
        <img src="../../assets/imgs/news-details5.png" />
      </div>
      <div class="m-4">
        <img src="../../assets/imgs/news-details6.png" />
      </div>
      <div class="m-4">
        <img src="../../assets/imgs/news-details7.png" />
      </div>
    </div>
    <p class="pt-5">
      Dragonheim is a fantasy game that revolves around a tragic story of the
      dragons' survival and the lust of a greedy king who desires to accumulate
      the treasure of AURA Gold Coins, which is guarded by the dragons for
      centuries on the island of Dragonheim.
    </p>
    <p>
      After the king and his highly equipped army attack Dragonheim, the dragons
      incurred heavy losses. Those that remained had no choice but to escape
      with the eggs and start a new life of survival in the lost lands of
      Midgard enduring the most challenging conditions to save their species.
    </p>
    <p>
      The eggs that were saved during the escape from the Battle of Dragonheim
      were hatched. Each of them in a different climate where they adapted to
      the outside environment. When they reached a certain age, the legendary
      dragons decided to train the young dragons with their wisdom and
      knowledge. The new dragons have to fight each other to showcase their
      capabilities and reach the top to become the new leader of the dragon's
      army in order to claim back their long lost home of Dragonheim and the
      treasures within it.
    </p>
  </div>
  <app-faq></app-faq>
</div>
