<div class="hero">
  <nav class="border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-transparent">
    <div class="flex flex-wrap items-center justify-between mx-auto">
      <a href="/" class="flex items-center">
        <img src="assets/imgs/logo.png" class="logo" />
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <div
        class="hidden socials mx-auto md:mx-0 md:flex items-center justify-center w-100 flex-col md:flex-row"
        id="navbar-default"
      >
        <div class="flex my-4 justify-center flex-row">
          <a href="#">
            <img src="assets/imgs/twitter.png" />
          </a>
          <a href="#">
            <img src="assets/imgs/youtube.png" />
          </a>
          <a href="#">
            <img src="assets/imgs/discord.png" />
          </a>
          <a href="#">
            <img src="assets/imgs/telegram.png" />
          </a>
        </div>
        <a href="#" class="playbtn mt-4 mx-auto">
          <img src="assets/imgs/playbtn.png" class="mx-auto" />
        </a>
      </div>
    </div>
  </nav>
  <div class="container mx-auto pt-28">
    <div class="grid md:grid-cols-4 pb-32">
      <div class="col-span-1"></div>
      <div class="text-white p-3 col-span-2">
        <h1 class="H1 pb-6">Ask me anything</h1>
        <p class="heroinfo">
          Check out the latest NFT Giveaways and get a chance to win Free NFTs
          and WL Spots
        </p>
        <div
          class="buttons text-center mt-7 md:flex items-center justify-center"
        >
          <button class="CTA inline-grid mx-2.5 grid-cols-6 items-center my-2">
            <span class="col-span-1">
              <img src="../../assets/imgs/dragonblue.png" />
            </span>
            <span class="col-span-5"> DRAGON GIVEAWAY </span>
          </button>
          <button
            class="CTA CTA-light inline-grid mx-2.5 grid-cols-6 items-center my-2"
          >
            <span class="col-span-1">
              <img src="../../assets/imgs/twitter white.png" />
            </span>
            <span class="col-span-5"> JOIN US ON TWITTER </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cards-wrap">
  <div class="innercontainer mx-auto py-16 px-2">
    <div class="cards grid md:grid-cols-1">
      <a href="/ama-details">
        <app-ama-card
          [cardData]="{
            name: 'test',
            img: 'ama dragon.png',
            description:
              'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer too typeset...'
          }"
        ></app-ama-card>
      </a>
      <a href="/ama-details">
        <app-ama-card
          [cardData]="{
            name: 'test',
            img: 'ama dragon.png',
            description:
              'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer too typeset...'
          }"
        ></app-ama-card>
      </a>
      <a href="/ama-details">
        <app-ama-card
          [cardData]="{
            name: 'test',
            img: 'ama dragon.png',
            description:
              'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer too typeset...'
          }"
        ></app-ama-card>
      </a>
    </div>
  </div>
</div>
