<div class="hero">
  <app-navbar></app-navbar>
  <div class="container mx-auto pt-28">
    <div class="grid md:grid-cols-4 pb-32">
      <div class="col-span-1"></div>
      <div class="text-white p-3 col-span-2">
        <h1 class="H1 pb-6">Ask me anything</h1>
        <p class="heroinfo">
          Check out the latest NFT Giveaways and get a chance to win Free NFTs
          and WL Spots
        </p>
        <div
          class="buttons text-center mt-7 md:flex items-center justify-center"
        >
          <button class="CTA inline-grid mx-2.5 grid-cols-6 items-center my-2">
            <span class="col-span-1">
              <img src="../../assets/imgs/dragonblue.png" />
            </span>
            <span class="col-span-5"> DRAGON GIVEAWAY </span>
          </button>
          <button
            class="CTA CTA-light inline-grid mx-2.5 grid-cols-6 items-center my-2"
          >
            <span class="col-span-1">
              <img src="../../assets/imgs/twitter white.png" />
            </span>
            <span class="col-span-5"> JOIN US ON TWITTER </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cards-wrap">
  <div class="innercontainer mx-auto py-16 px-2">
    <div class="cards grid md:grid-cols-1">
      <a href="/ama-details">
        <app-ama-card
          [cardData]="{
            name: 'test',
            img: 'ama dragon.png',
            description:
              'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer too typeset...'
          }"
        ></app-ama-card>
      </a>
      <a href="/ama-details">
        <app-ama-card
          [cardData]="{
            name: 'test',
            img: 'ama dragon.png',
            description:
              'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer too typeset...'
          }"
        ></app-ama-card>
      </a>
      <a href="/ama-details">
        <app-ama-card
          [cardData]="{
            name: 'test',
            img: 'ama dragon.png',
            description:
              'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer too typeset...'
          }"
        ></app-ama-card>
      </a>
    </div>
  </div>
</div>
