<div class="main">
  <app-navbar></app-navbar>
  <h1 class="H1 text-center mt-14">Ask me anything</h1>
  <div class="container mt-14 mx-auto grid md:grid-cols-4">
    <div class="md:col-span-1">
      <div class="sidebar">
        <h4 class="title flex" data-dropdown-toggle="storyline">
          <img class="gem" src="../../assets/imgs/gem.png" />Storyline
        </h4>
        <div id="storyline" class="chapters hidden">
          <div class="chapter active">
            <h4>Chapter 1</h4>
            <p>FIght to Become the Dragons Leader</p>
          </div>
          <div class="chapter">
            <h4>Chapter 2</h4>
            <p>Dragonheim</p>
          </div>
          <div class="chapter">
            <h4>Chapter 3</h4>
            <p>The Legend of Seven</p>
          </div>
          <div class="chapter">
            <h4>Chapter 4</h4>
            <p>The Golden Mountain</p>
          </div>
          <div class="chapter">
            <h4>Chapter 5</h4>
            <p>AURA Gold</p>
          </div>
          <div class="chapter">
            <h4>Chapter 6</h4>
            <p>The King of Midgard</p>
          </div>
          <div class="chapter">
            <h4>Chapter 7</h4>
            <p>The King of Midgard</p>
          </div>
          <div class="chapter">
            <h4>Chapter 8</h4>
            <p>Army of Dragon Slayers</p>
          </div>
        </div>
      </div>

      <div class="sidebar">
        <h4 class="title flex" data-dropdown-toggle="Dragonheim">
          <img class="gem" src="../../assets/imgs/gem.png" />Dragonheim
        </h4>
        <div id="Dragonheim" class="chapters hidden">
          <div class="chapter active">
            <h4>Chapter 1</h4>
            <p>FIght to Become the Dragons Leader</p>
          </div>
          <div class="chapter">
            <h4>Chapter 2</h4>
            <p>Dragonheim</p>
          </div>
          <div class="chapter">
            <h4>Chapter 3</h4>
            <p>The Legend of Seven</p>
          </div>
          <div class="chapter">
            <h4>Chapter 4</h4>
            <p>The Golden Mountain</p>
          </div>
          <div class="chapter">
            <h4>Chapter 5</h4>
            <p>AURA Gold</p>
          </div>
          <div class="chapter">
            <h4>Chapter 6</h4>
            <p>The King of Midgard</p>
          </div>
          <div class="chapter">
            <h4>Chapter 7</h4>
            <p>The King of Midgard</p>
          </div>
          <div class="chapter">
            <h4>Chapter 8</h4>
            <p>Army of Dragon Slayers</p>
          </div>
        </div>
      </div>

      <div class="sidebar">
        <h4 class="title flex" data-dropdown-toggle="game">
          <img class="gem" src="../../assets/imgs/gem.png" />Game Download
        </h4>
        <div id="game" class="chapters hidden">
          <div class="chapter active">
            <h4>Chapter 1</h4>
            <p>FIght to Become the Dragons Leader</p>
          </div>
          <div class="chapter">
            <h4>Chapter 2</h4>
            <p>Dragonheim</p>
          </div>
          <div class="chapter">
            <h4>Chapter 3</h4>
            <p>The Legend of Seven</p>
          </div>
          <div class="chapter">
            <h4>Chapter 4</h4>
            <p>The Golden Mountain</p>
          </div>
          <div class="chapter">
            <h4>Chapter 5</h4>
            <p>AURA Gold</p>
          </div>
          <div class="chapter">
            <h4>Chapter 6</h4>
            <p>The King of Midgard</p>
          </div>
          <div class="chapter">
            <h4>Chapter 7</h4>
            <p>The King of Midgard</p>
          </div>
          <div class="chapter">
            <h4>Chapter 8</h4>
            <p>Army of Dragon Slayers</p>
          </div>
        </div>
      </div>

      <div class="sidebar">
        <h4 class="title flex" data-dropdown-toggle="roadmap">
          <img class="gem" src="../../assets/imgs/gem.png" />Roadmap
        </h4>
        <div id="roadmap" class="chapters hidden">
          <div class="chapter active">
            <h4>Chapter 1</h4>
            <p>FIght to Become the Dragons Leader</p>
          </div>
          <div class="chapter">
            <h4>Chapter 2</h4>
            <p>Dragonheim</p>
          </div>
          <div class="chapter">
            <h4>Chapter 3</h4>
            <p>The Legend of Seven</p>
          </div>
          <div class="chapter">
            <h4>Chapter 4</h4>
            <p>The Golden Mountain</p>
          </div>
          <div class="chapter">
            <h4>Chapter 5</h4>
            <p>AURA Gold</p>
          </div>
          <div class="chapter">
            <h4>Chapter 6</h4>
            <p>The King of Midgard</p>
          </div>
          <div class="chapter">
            <h4>Chapter 7</h4>
            <p>The King of Midgard</p>
          </div>
          <div class="chapter">
            <h4>Chapter 8</h4>
            <p>Army of Dragon Slayers</p>
          </div>
        </div>
      </div>
    </div>
    <div class="md:col-span-3 mx-2 mb-10">
      <div class="description-wrap px-5 md:px-16 py-5 md:py-11">
        <div class="description">
          <h1 class="H1">Chapter 1:</h1>
          <h2 class="H2 mt-3">FIght to Become the Dragons Leader:</h2>
          <img
            src="../../assets/imgs/ama details.png"
            class="w-full mt-6 mb-10"
          />
          <p class="info">
            Dragonheim is a fantasy game that revolves around a tragic story of
            the dragons' survival and the lust of a greedy king who desires to
            accumulate the treasure of AURA Gold Coins, which is guarded by the
            dragons for centuries on the island of Dragonheim.
          </p>
          <p class="info">
            After the king and his highly equipped army attack Dragonheim, the
            dragons incurred heavy losses. Those that remained had no choice but
            to escape with the eggs and start a new life of survival in the lost
            lands of Midgard enduring the most challenging conditions to save
            their species.
          </p>
          <p class="info">
            The eggs that were saved during the escape from the Battle of
            Dragonheim were hatched. Each of them in a different climate where
            they adapted to the outside environment. When they reached a certain
            age, the legendary dragons decided to train the young dragons with
            their wisdom and knowledge. The new dragons have to fight each other
            to showcase their capabilities and reach the top to become the new
            leader of the dragon's army in order to claim back their long lost
            home of Dragonheim and the treasures within it.
          </p>
          <a class="CTA" href="#">
            Can you become the next leader of Dragons?
            <i class="fa fa-arrow-right ml-1"></i
          ></a>
        </div>
        <div class="divider divider-red">
          <div></div>
          <span></span>
        </div>
        <div class="description">
          <h1 class="H1">Chapter 1:</h1>
          <h2 class="H2 mt-3">FIght to Become the Dragons Leader:</h2>
          <img
            src="../../assets/imgs/ama details.png"
            class="w-full mt-6 mb-10"
          />
          <p class="info">
            Dragonheim is a fantasy game that revolves around a tragic story of
            the dragons' survival and the lust of a greedy king who desires to
            accumulate the treasure of AURA Gold Coins, which is guarded by the
            dragons for centuries on the island of Dragonheim.
          </p>
          <p class="info">
            After the king and his highly equipped army attack Dragonheim, the
            dragons incurred heavy losses. Those that remained had no choice but
            to escape with the eggs and start a new life of survival in the lost
            lands of Midgard enduring the most challenging conditions to save
            their species.
          </p>
          <p class="info">
            The eggs that were saved during the escape from the Battle of
            Dragonheim were hatched. Each of them in a different climate where
            they adapted to the outside environment. When they reached a certain
            age, the legendary dragons decided to train the young dragons with
            their wisdom and knowledge. The new dragons have to fight each other
            to showcase their capabilities and reach the top to become the new
            leader of the dragon's army in order to claim back their long lost
            home of Dragonheim and the treasures within it.
          </p>
          <a class="CTA" href="#">
            Can you become the next leader of Dragons?
            <i class="fa fa-arrow-right ml-1"></i
          ></a>
        </div>
        <div class="divider divider-blue">
          <div></div>
          <span></span>
        </div>
        <div class="description">
          <h1 class="H1">Chapter 1:</h1>
          <h2 class="H2 mt-3">FIght to Become the Dragons Leader:</h2>
          <img
            src="../../assets/imgs/ama details.png"
            class="w-full mt-6 mb-10"
          />
          <p class="info">
            Dragonheim is a fantasy game that revolves around a tragic story of
            the dragons' survival and the lust of a greedy king who desires to
            accumulate the treasure of AURA Gold Coins, which is guarded by the
            dragons for centuries on the island of Dragonheim.
          </p>
          <p class="info">
            After the king and his highly equipped army attack Dragonheim, the
            dragons incurred heavy losses. Those that remained had no choice but
            to escape with the eggs and start a new life of survival in the lost
            lands of Midgard enduring the most challenging conditions to save
            their species.
          </p>
          <p class="info">
            The eggs that were saved during the escape from the Battle of
            Dragonheim were hatched. Each of them in a different climate where
            they adapted to the outside environment. When they reached a certain
            age, the legendary dragons decided to train the young dragons with
            their wisdom and knowledge. The new dragons have to fight each other
            to showcase their capabilities and reach the top to become the new
            leader of the dragon's army in order to claim back their long lost
            home of Dragonheim and the treasures within it.
          </p>
          <a class="CTA" href="#">
            Can you become the next leader of Dragons?
            <i class="fa fa-arrow-right ml-1"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
