<div class="hero">
  <app-navbar></app-navbar>
  <div class="container mx-auto pt-32">
    <div class="grid md:grid-cols-2">
      <div class="text-white p-3">
        <span class="date">
          January 5, 2023 <span class="ml-3 tag">Features</span></span
        >
        <h1 class="H1">New Dragons & Territories</h1>
        <div class="readmore mt-6">
          <a href="/news"> Read more <i class="ml-1 fa fa-arrow-right"></i> </a>
        </div>
      </div>
    </div>
    <div class="buttons mt-24">
      <button
        class="togglebtn mr-4"
        (click)="selection = false"
        [ngClass]="!selection ? 'active' : ''"
      >
        Latest News
      </button>
      <button
        class="togglebtn"
        (click)="selection = true"
        [ngClass]="selection ? 'active' : ''"
      >
        Updates
      </button>
    </div>
  </div>
</div>

<div class="cards-wrap">
  <div class="container mx-auto py-16 px-2">
    <div
      class="cards grid md:grid-cols-2"
      [ngClass]="selection ? 'hidden' : ''"
    >
      <a href="/news-details">
        <div
          class="card m-3"
          style="background-image: url(../../assets/imgs/card1.png)"
        >
          <div class="cardinfo">
            <span class="date">January 5, 2023</span>
            <h2 class="H2">New Dragons & Territories</h2>
          </div>
        </div>
      </a>
      <a href="/news-details">
        <div
          class="card m-3"
          style="background-image: url(../../assets/imgs/card1.png)"
        >
          <div class="cardinfo">
            <span class="date">January 5, 2023</span>
            <h2 class="H2">New Dragons & Territories</h2>
          </div>
        </div>
      </a>
      <a href="/news-details">
        <div
          class="card m-3"
          style="background-image: url(../../assets/imgs/card1.png)"
        >
          <div class="cardinfo">
            <span class="date">January 5, 2023</span>
            <h2 class="H2">New Dragons & Territories</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="allnews" [ngClass]="!selection ? 'hidden' : ''">
      <a href="/news-details">
        <div class="news mx-3 my-9">
          <span class="date"
            >January 5, 2023 <span class="tag ml-3"> Today</span></span
          >
          <h3 class="H3">Dragon of Midgard Update — 1/11/2023</h3>
          <ul class="newsinfo">
            <li>
              Added role filters on the hero selection screen, allowing players
              to drill down to the heroes that best fit the needs of each game.
            </li>
            <li>Removed Jungler from the list of hero roles.</li>
            <li>
              As part of our effort to keep
              <u>Dota Technology Moving Forward</u>
              the version of the V8 JavaScript engine included in Dota has been
              updated, resulting in a new macOS requirement of 10.13+. For the
              vast majority of Mac players, this requirements change will have
              no impact.
            </li>
          </ul>
        </div>
      </a>
      <a href="/news-details">
        <div class="news mx-3 my-9">
          <span class="date"
            >January 5, 2023 <span class="tag ml-3"> Today</span></span
          >
          <h3 class="H3">Dragon of Midgard Update — 1/11/2023</h3>
          <ul class="newsinfo">
            <li>
              Added role filters on the hero selection screen, allowing players
              to drill down to the heroes that best fit the needs of each game.
            </li>
            <li>Removed Jungler from the list of hero roles.</li>
            <li>
              As part of our effort to keep
              <u>Dota Technology Moving Forward</u>
              the version of the V8 JavaScript engine included in Dota has been
              updated, resulting in a new macOS requirement of 10.13+. For the
              vast majority of Mac players, this requirements change will have
              no impact.
            </li>
          </ul>
        </div>
      </a>
      <a href="/news-details">
        <div class="news mx-3 my-9">
          <span class="date"
            >January 5, 2023 <span class="tag ml-3"> Today</span></span
          >
          <h3 class="H3">Dragon of Midgard Update — 1/11/2023</h3>
          <ul class="newsinfo">
            <li>
              Added role filters on the hero selection screen, allowing players
              to drill down to the heroes that best fit the needs of each game.
            </li>
            <li>Removed Jungler from the list of hero roles.</li>
            <li>
              As part of our effort to keep
              <u>Dota Technology Moving Forward</u>
              the version of the V8 JavaScript engine included in Dota has been
              updated, resulting in a new macOS requirement of 10.13+. For the
              vast majority of Mac players, this requirements change will have
              no impact.
            </li>
          </ul>
        </div>
      </a>
    </div>
  </div>
</div>
