<div class="hero pb-36">
  <app-navbar></app-navbar>
  <h1 class="H1 mt-14">Core Team Members</h1>
  <p class="text">Upgrade your user levels to master the art of battle.</p>

  <div
    class="grid innercontainer mx-auto mt-16 md:grid-cols-3 team overflow-x-hidden"
  >
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
  </div>

  <h1 class="H1 mt-14 mb-5">Gaming Team</h1>
  <img
    src="../../assets/imgs/title divider.png"
    class="title-divider mx-auto"
  />

  <div
    class="grid innercontainer mx-auto mt-16 md:grid-cols-3 team overflow-x-hidden"
  >
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/imgs/crown.png" class="topicon" />
      <img src="../../assets/imgs/avatar.png" class="avatar" />
      <h5 class="teamname text-center mt-4">Umar Shafiq</h5>
      <h6 class="teamtitle text-center mt-2 mb-3">Founder & CEO</h6>
      <div class="text-center">
        <a href="#" class="mx-2">
          <i class="fab fa-linkedin text-3xl" style="color: #1275b1"> </i>
        </a>
        <a href="#">
          <i class="fab fa-twitter text-3xl" style="color: #47acdf"> </i>
        </a>
      </div>
    </div>
  </div>
</div>
