<div class="main flex justify-center items-center" style="padding: 127xp 0">
  <div class="w-100 flex flex-col innerSection justify-between text-center">
    <nav
      class="border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-transparent w-screen"
    >
      <div class="flex flex-wrap items-center justify-between mx-auto">
        <a href="/" class="flex items-center">
          <img src="assets/imgs/logo.png" class="logo" />
        </a>
        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div
          class="hidden socials mx-auto md:mx-0 md:flex items-center justify-center w-100 flex-col md:flex-row"
          id="navbar-default"
        >
          <div class="flex my-4 justify-center flex-row">
            <a href="#">
              <img src="assets/imgs/twitter.png" />
            </a>
            <a href="#">
              <img src="assets/imgs/youtube.png" />
            </a>
            <a href="#">
              <img src="assets/imgs/discord.png" />
            </a>
            <a href="#">
              <img src="assets/imgs/telegram.png" />
            </a>
          </div>
          <a href="#" class="playbtn mt-4 mx-auto">
            <img src="assets/imgs/playbtn.png" class="mx-auto" />
          </a>
        </div>
      </div>
    </nav>

    <div class="flex justify-center items-center">
      <img class="bird" src="assets/imgs/bird1.png" />
      <span class="text" style="padding: 0 22px">Coming Soon</span>
      <img src="assets/imgs/bird2.png" />
    </div>
    <div class="space text-center">
      <img
        class="playicon mx-auto"
        data-modal-target="defaultModal"
        data-modal-toggle="defaultModal"
        src="assets/imgs/play icon.png"
      />
    </div>

    <div class="buttons space">
      <a href="/ama" class="btn1 my-2"> <span>WHITE PAPER</span> </a>
      <a class="btn2 my-2" href="/news">
        <span>CHECK UPDATES</span>
      </a>
    </div>
    <img src="assets/imgs/Frame.png" class="space frame mx-auto" />
    <div class="logos flex flex-wrap justify-center items-center pb-3 mb-3">
      <img src="assets/imgs/logos/logo6.png" />
      <img src="assets/imgs/logos/logo5.png" />
      <img src="assets/imgs/logos/logo4.png" />
      <img src="assets/imgs/logos/logo8.png" />
      <img src="assets/imgs/logos/logo7.png" />
      <img src="assets/imgs/logos/logo3.png" />
      <img src="assets/imgs/logos/logo2.png" />
      <img src="assets/imgs/logos/logo1.png" />
    </div>
  </div>
</div>

<!-- Video modal -->
<div
  id="defaultModal"
  data-modal-toggle="defaultModal"
  data-modal-placement="center"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full"
>
  <iframe
    class="ytframe"
    src="https://www.youtube-nocookie.com/embed/SkasWf8k864?controls=0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>

<!-- Roadmap -->
<div class="roadmap pt-16 pb-52">
  <div class="container mx-auto">
    <h1 class="title pb-4">Roadmap</h1>
    <img
      src="../../assets/imgs/title divider.png"
      class="title-divider mb-20 block mx-auto"
    />

    <!-- <ol class="sm:flex flex-nowrap"> -->
    <div class="relative">
      <div class="h-1 flex w-full line absolute"></div>
      <ol class="roadslider">
        <li class="mb-6 sm:mb-0 milestone">
          <!-- <div class="grid text-center sm:text-left sm:grid-cols-2 roadbox"> -->
          <div class="grid grid-cols-2 roadbox">
            <img
              src="../../assets/imgs/road1.png"
              class="flex-1 col-span-1 mx-auto"
            />
            <div class="flex-1 roadinfo ml- col-span-1">
              <p class="status">Completed</p>
              <p class="pl-1 mt-2">Rebranding of Dragonheim</p>
            </div>
          </div>
        </li>
        <li class="mb-6 sm:mb-0 milestone space">
          <div class="grid grid-cols-2 roadbox">
            <img
              src="../../assets/imgs/road2.png"
              class="flex-1 col-span-1 mx-auto"
            />
            <div class="flex-1 roadinfo ml- col-span-1">
              <div class="mt-20 pl-2">
                <p class="status">Completed</p>
                <p class="pl-1 mt-2">Storyline</p>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-6 sm:mb-0 milestone">
          <div class="grid grid-cols-2 roadbox">
            <img
              src="../../assets/imgs/road3.png"
              class="flex-1 col-span-1 mx-auto"
            />
            <div class="flex-1 roadinfo ml- col-span-1">
              <p class="timeline">(In Progress) (Q4 2022)</p>
              <p class="pl-1 mt-2">Website DEsign</p>
            </div>
          </div>
        </li>
        <li class="mb-6 sm:mb-0 milestone space">
          <div class="grid grid-cols-2 roadbox">
            <img
              src="../../assets/imgs/road4.png"
              class="flex-1 col-span-1 mx-auto"
            />
            <div class="flex-1 roadinfo ml- col-span-1">
              <div class="mt-20 pl-2">
                <p class="pl-1 mt-2">Dragonheim Social Channels</p>
                <p class="timeline">(Q4 2022)</p>
              </div>
            </div>
          </div>
        </li>
        <li class="mb-6 sm:mb-0 milestone">
          <div class="grid grid-cols-2 roadbox">
            <img
              src="../../assets/imgs/road5.png"
              class="flex-1 col-span-1 mx-auto"
            />
            <div class="flex-1 roadinfo ml- col-span-1">
              <p class="timeline">(TBA)(Q4 2022)</p>
              <p class="pl-1 mt-2">Dragonheim AMAs</p>
            </div>
          </div>
        </li>
        <li class="mb-6 sm:mb-0 milestone space">
          <div class="grid grid-cols-2 roadbox">
            <img
              src="../../assets/imgs/road6.png"
              class="flex-1 col-span-1 mx-auto"
            />
            <div class="flex-1 roadinfo ml- col-span-1">
              <div class="mt-20 pl-2">
                <p class="pl-1 mt-2">Comic Design</p>
                <p class="timeline">(TBA) (Q1 2023)</p>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>

<!-- FAQ -->
<div class="faq pt-28 pb-24">
  <app-faq></app-faq>
</div>

<!-- empowering -->
<div class="empowering">
  <div
    class="bigcontainer px-5 md:pr-0 mx-auto grid lg:grid-cols-12 pt-32 items-center"
  >
    <div class="col-span-6">
      <h1 class="title mb-14 mx-auto text-center md:text-left">
        Empowering Gamers by giving True Ownership of Game Assets
      </h1>

      <div
        class="empbox mx-auto my-10 grid md:grid-cols-12 items-center justify-center"
      >
        <img
          src="../../assets/imgs/axe1.png"
          class="mx-auto col-span-12 md:col-span-4 block md:-ml-20"
        />
        <div class="empinfo col-span-12 md:col-span-8 md:-ml-20">
          <h5 class="head">Ownership and Reselling Rights</h5>
          <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
      </div>
      <div
        class="empbox mx-auto my-10 grid md:grid-cols-12 items-center justify-center"
      >
        <img
          src="../../assets/imgs/axe2.png"
          class="mx-auto col-span-12 md:col-span-4 block md:-ml-20"
        />
        <div class="empinfo col-span-12 md:col-span-8 md:-ml-20">
          <h5 class="head">Trade Freedom</h5>
          <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
      </div>
      <div
        class="empbox mx-auto my-10 grid md:grid-cols-12 items-center justify-center"
      >
        <img
          src="../../assets/imgs/axe3.png"
          class="mx-auto col-span-12 md:col-span-4 block md:-ml-20"
        />
        <div class="empinfo col-span-12 md:col-span-8 md:-ml-20">
          <h5 class="head">Authenticity Verification</h5>
          <p class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-6">
      <img src="../../assets/imgs/empowering dragon.png" class="w-full" />
    </div>
  </div>
</div>

<!-- gaming  -->
<div class="gaming">
  <div class="bigcontainer px-5 mx-auto grid lg:grid-cols-12 pt-44 pb-56">
    <div class="col-span-5">
      <h1 class="title text-center lg:text-left md:pt-24">
        Bringing <span class="pink"> 3d Gaming</span> Gaming Experience To
        Blockchain
      </h1>
    </div>

    <div class="col-span-7">
      <div class="gbox mx-auto my-10 md:px-20">
        <div class="grid md:grid-cols-12 items-center justify-center mx-auto">
          <img
            src="../../assets/imgs/3d1.png"
            class="mx-auto md:-ml-10 col-span-12 md:col-span-2 block"
          />
          <div class="empinfo col-span-12 md:col-span-10 pt-16 md:pt-0">
            <h5 class="head">3D NFTs models with 360 view</h5>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
            </p>
          </div>
        </div>
      </div>
      <div class="gbox mx-auto my-10 md:px-20">
        <div class="grid md:grid-cols-12 items-center justify-center mx-auto">
          <img
            src="../../assets/imgs/3d2.png"
            class="mx-auto md:-ml-10 col-span-12 md:col-span-2 block"
          />
          <div class="empinfo col-span-12 md:col-span-10 pt-16 md:pt-0">
            <h5 class="head">Customise Dragons with Dynamic NFTs</h5>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
            </p>
          </div>
        </div>
      </div>
      <div class="gbox mx-auto my-10 md:px-20">
        <div class="grid md:grid-cols-12 items-center justify-center mx-auto">
          <img
            src="../../assets/imgs/3d3.png"
            class="mx-auto md:-ml-10 col-span-12 md:col-span-2 block"
          />
          <div class="empinfo col-span-12 md:col-span-10 pt-16 md:pt-0">
            <h5 class="head">Immersive 3d Gameplay</h5>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- unique -->
<div class="unique">
  <div class="bigcontainer px-5 mx-auto lg:grid lg:grid-cols-12 pt-32 pb-20">
    <div class="col-span-5">
      <h1 class="title text-center md:text-left">
        10k Unique 3D <br />
        NFTs Free to Mint
      </h1>
      <div class="flex flex-wrap justify-center md:justify-start mt-6">
        <button class="btninfo inline-grid grid-cols-12 mx-2 md:ml-0 my-2">
          <img class="orb col-span-2" src="../../assets/imgs/orb green.png" />
          <span class="col-span-10"> 100 Bases </span>
        </button>
        <button class="btninfo inline-grid grid-cols-12 mx-2 md:mx-0 my-2">
          <img class="orb col-span-2" src="../../assets/imgs/orb red.png" />
          <span class="col-span-10"> 7 Territories </span>
        </button>
      </div>

      <ul class="swords mt-7 mb-8">
        <li>Exclusive Dragons for AURA Token</li>
        <li>Exclusive Dragons for DOM Holders</li>
        <li>NFTs can be used in game for earning rewards.</li>
      </ul>

      <a class="btn2 my-2" href="/news">
        <span>visit dragon market</span>
      </a>
    </div>
    <div class="col-span-6">
      <div class="uniqueslider">
        <div
          class="card relative"
          style="background-image: url(../../assets/imgs/unique\ dragon\ 1.png)"
        >
          <div class="flex justify-between items-end cardinfo w-full">
            <div>
              <h3 class="head">Goodwin</h3>
              <div class="price mt-4 flex items-center">
                <h5 class="h5 mr-2">0.323 ETH</h5>
                <img src="../../assets/imgs/eth logo.png" />
              </div>
            </div>
            <div class="flex items-center ml- mb-1 time justify-center">
              <img src="../../assets/imgs/clock.png" class="clockicon" />
              <span class="ml-2">10:40:57</span>
            </div>
          </div>
        </div>
        <div
          class="card relative"
          style="background-image: url(../../assets/imgs/unique\ dragon\ 2.png)"
        >
          <div class="flex justify-between items-end cardinfo w-full">
            <div>
              <h3 class="head">Goodwin</h3>
              <div class="price mt-4 flex items-center">
                <h5 class="h5 mr-2">0.323 ETH</h5>
                <img src="../../assets/imgs/eth logo.png" />
              </div>
            </div>
            <div class="flex items-center ml- mb-1 time justify-center">
              <img src="../../assets/imgs/clock.png" class="clockicon" />
              <span class="ml-2">10:40:57</span>
            </div>
          </div>
        </div>
        <div
          class="card relative"
          style="background-image: url(../../assets/imgs/unique\ dragon\ 1.png)"
        >
          <div class="flex justify-between items-end cardinfo w-full">
            <div>
              <h3 class="head">Goodwin</h3>
              <div class="price mt-4 flex items-center">
                <h5 class="h5 mr-2">0.323 ETH</h5>
                <img src="../../assets/imgs/eth logo.png" />
              </div>
            </div>
            <div class="flex items-center ml- mb-1 time justify-center">
              <img src="../../assets/imgs/clock.png" class="clockicon" />
              <span class="ml-2">10:40:57</span>
            </div>
          </div>
        </div>
        <div
          class="card relative"
          style="background-image: url(../../assets/imgs/unique\ dragon\ 2.png)"
        >
          <div class="flex justify-between items-end cardinfo w-full">
            <div>
              <h3 class="head">Goodwin</h3>
              <div class="price mt-4 flex items-center">
                <h5 class="h5 mr-2">0.323 ETH</h5>
                <img src="../../assets/imgs/eth logo.png" />
              </div>
            </div>
            <div class="flex items-center ml- mb-1 time justify-center">
              <img src="../../assets/imgs/clock.png" class="clockicon" />
              <span class="ml-2">10:40:57</span>
            </div>
          </div>
        </div>
      </div>
      <div class="uniquearrows relative flex justify-center mt-7"></div>
    </div>
  </div>
</div>
