<div class="main flex justify-center items-center" style="padding: 127xp 0">
  <div class="w-100 flex flex-col innerSection justify-between text-center">
    <app-navbar></app-navbar>

    <div class="flex justify-center items-center">
      <img class="bird" src="assets/imgs/bird1.png" />
      <span class="text" style="padding: 0 22px">Coming Soon</span>
      <img src="assets/imgs/bird2.png" />
    </div>
    <div class="space text-center">
      <img
        class="playicon mx-auto"
        data-modal-target="defaultModal"
        data-modal-toggle="defaultModal"
        src="assets/imgs/play icon.png"
      />
    </div>

    <div class="buttons space">
      <a href="/ama" class="btn1 my-2"> <span>WHITE PAPER</span> </a>
      <a class="btn2 my-2" href="/news">
        <span>CHECK UPDATES</span>
      </a>
    </div>
    <img src="assets/imgs/Frame.png" class="space frame mx-auto" />
    <div class="logos flex flex-wrap justify-center items-center pb-3 mb-3">
      <img src="assets/imgs/logos/logo6.png" />
      <img src="assets/imgs/logos/logo5.png" />
      <img src="assets/imgs/logos/logo4.png" />
      <img src="assets/imgs/logos/logo8.png" />
      <img src="assets/imgs/logos/logo7.png" />
      <img src="assets/imgs/logos/logo3.png" />
      <img src="assets/imgs/logos/logo2.png" />
      <img src="assets/imgs/logos/logo1.png" />
    </div>
  </div>
</div>

<!-- Video modal -->
<div
  id="defaultModal"
  data-modal-toggle="defaultModal"
  data-modal-placement="center"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full"
>
  <iframe
    class="ytframe"
    src="https://www.youtube-nocookie.com/embed/SkasWf8k864?controls=0"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
